extends _template

block body

  nav#navbar
    a.item.home(href="index.html") 首頁
    a.item.news(href="news-announcement-2014_1.html") 公告
    a.item.about(href="about-medical_content.html") 瞭解我
    a.item.gallery(href="gallery-medical_illustration-head.html") 看作品
    a.item.services(href="service-medical_illustration-whatis.html") 服務項目
    a.item.prices(href="price-medical_illustration-download.html") 收費
    a.item.processes(href="process-medical_illustration-prepare.html") 流程
    a.item.contact(href="about-contact.html") 聯絡

  #content
    block content

  footer#footer.clearfix
    p
      | Dr. Blue 推薦您使用
      a(href='http://www.google.com/chrome', target='_blank', style='text-decoration: underline;') Google Chrome
      | 瀏覽本站。以下鍵盤提示，Mac 使用者請將
      span.keyboard Ctrl
      | 改為
      span.keyboard 蘋果
      | 鍵。
    p
      span.group
        span.keyboard PageUp
        span.keyboard PageDown
        | 上下捲動頁面
      span.group
        span.keyboard Alt
        span.keyboard ←
        | 瀏覽上一頁
      span.group
        span.keyboard Ctrl
        span.keyboard T
        | 開新分頁
      span.group
        span.keyboard Ctrl
        span.keyboard W
        | 關閉分頁
      span.group
        span.keyboard Ctrl
        span.keyboard +
        | 放大
      span.group
        span.keyboard Ctrl
        span.keyboard -
        | 縮小
      span.group
        span.keyboard Ctrl
        span.keyboard PageUp
        | 切到上一個分頁
      span.group
        span.keyboard Ctrl
        span.keyboard PageDown
        | 切到下一個分頁
      span.group
        span.keyboard Alt
        span.keyboard Tab
        | 切到下一個視窗
      span.group
        span.keyboard Alt
        span.keyboard Shift
        span.keyboard Tab
        | 切到上一個視窗
