extends _about

block subtitle
  | 在醫療產業中的定位

block article
  p.subtitle 價值鏈的上游
  h1 在醫療產業中的定位
  h2 醫療產業的協力者
  p 在醫療產業中，我們扮演協力的角色，不論是醫療製造業、醫療服務業、醫療教育業，都是服務的對象。
  p
    span.bold 醫療器材商
    | 將我們的醫學繪圖作品，用在產品說明書、或者產品說明動畫，作為行銷的工具，以及售後服務的輔助。
  p
    span.bold 醫療人員
    | 將我們的醫學繪圖作品，用在療程說明圖、療程說明動畫，作為病人教育的工具，以及醫療品牌形象的輔助。
  p
    span.bold 醫學教育及研究人員
    | 將我們的醫學繪圖作品，用在論文插圖、書籍插圖、教學動畫，作為學術交流的媒介，以及增進學習效率的工具。
  //-p 進一步的細節，請參考本網站的
    a(href='announcement-message-.htm') 給大家的信
    | 頁面。
  h2 醫學內容的創新者
  p 在醫學內容產業中，我們扮演創新者的角色，不斷進行產業旅遊，汲取其他領域的知識，然後，針對醫療業的問題，思考跨領域的解決方案。
  p 目前，主要的營收來自醫學繪圖與醫學動畫的客製服務。其他閒暇時間，則執行各項實驗性計畫，盡可能去摸索各式各樣的未來。
  //-p 進一步的細節，請參考本網站的
    a(href='service-medical_content_lab-.htm') 實驗計劃
    | 以及
    a(href='announcement-report-.htm') 產業旅遊報告
    | 頁面。

block script
  script.
    $("#navbar .about").addClass("active");
    $(".vertical.menu #positioning").addClass("active");