extends _gallery-medical_illustration-limb

block article
  .column
    .picture.rounded.ui.image
      .ui.label.ribbon.blue 醫學繪圖中型
      img(src="img/gallery/illustration/limb/02-01.jpg")
      .ui.bottom.attached.label Liner Try-in
    .picture.rounded.ui.image
      .ui.label.ribbon.blue 醫學系列圖中型
      img(src="img/gallery/illustration/limb/02-02.jpg")
      .ui.bottom.attached.label Irrigation
    .picture.rounded.ui.image
      .ui.label.ribbon.blue 醫學系列圖中型
      img(src="img/gallery/illustration/limb/02-03.jpg")
      .ui.bottom.attached.label Liner Placement 1
    .picture.rounded.ui.image
      .ui.label.ribbon.blue 醫學系列圖中型
      img(src="img/gallery/illustration/limb/02-04.jpg")
      .ui.bottom.attached.label Liner Placement 2
    .picture.rounded.ui.image
      .ui.label.ribbon.blue 醫學系列圖中型
      img(src="img/gallery/illustration/limb/02-05.jpg")
      .ui.bottom.attached.label Liner Placement 3
    .picture.rounded.ui.image
      .ui.label.ribbon.blue 醫學系列圖中型
      img(src="img/gallery/illustration/limb/02-06.jpg")
      .ui.bottom.attached.label Liner Placement 4
  .column
    h1 髖關節置換手術醫療器材使用說明
    p 使用場合：醫療器材產品說明書插圖
    p 學術分類：骨科
    //-.ui.celled.list
      .item
        i.icon.checkmark.checked
        | tibia


block microscript
  script.
    $(".thumbnail.menu #01").addClass("active");