extends _gallery-medical_illustration-head

block article
  .column
    .picture.rounded.ui.image
      .ui.label.ribbon.blue 醫學繪圖大型
      img(src="img/gallery/illustration/head/01-01.jpg")
  .column
    h1 唾液腺解剖構造
    p 使用場合：手術室書籍出版印刷刊物
    p 學術分類：口腔顎面外科
    .ui.celled.list
      .item
        i.icon.checkmark.checked
        | parotid salivary gland
      .item
        i.icon.checkmark.checked
        | parotid papilla
      .item
        i.icon.checkmark.checked
        | sublingual salivary gland
      .item
        i.icon.checkmark.checked
        | sublingual duct
      .item
        i.icon.checkmark.checked
        | sublingual caruncle
      .item
        i.icon.checkmark.checked
        | submandibular salivary gland
      .item
        i.icon.checkmark.checked
        | submandibular duct
      .item
        i.icon.checkmark.checked
        | tongue with frenulum
      .item
        i.icon.checkmark.checked
        | floor of mouth
      .item
        i.icon.checkmark.checked
        | upper anterior teeth
      .item
        i.icon.checkmark.checked
        | lower dental arch and gingiva
      .item
        i.icon.checkmark.checked
        | oral mucosa
      .item
        i.icon.checkmark.checked
        | soft tissue contour of face
      .item
        i.icon.checkmark.checked
        | nose
      .item
        i.icon.checkmark.checked
        | ears
      .item
        i.icon.checkmark.checked
        | lips

block microscript
  script.
    $(".thumbnail.menu #01").addClass("active");