extends _gallery-medical_illustration-limb

block article
  .column
    .picture.rounded.ui.image
      .ui.label.ribbon.blue 醫學繪圖中型
      img(src="img/gallery/illustration/limb/01-01.jpg")
      .ui.bottom.attached.label Biceps Femoris Rupture
    .picture.rounded.ui.image
      .ui.label.ribbon.blue 醫學系列圖中型
      img(src="img/gallery/illustration/limb/01-02.jpg")
      .ui.bottom.attached.label Reverse Fascia Flap
    .picture.rounded.ui.image
      .ui.label.ribbon.blue 醫學系列圖中型
      img(src="img/gallery/illustration/limb/01-03.jpg")
      .ui.bottom.attached.label Reverse Fascia Flap (Sutured)
    .picture.rounded.ui.image
      .ui.label.ribbon.blue 醫學系列圖中型
      img(src="img/gallery/illustration/limb/01-04.jpg")
      .ui.bottom.attached.label Tunnel of Fibula Head
    .picture.rounded.ui.image
      .ui.label.ribbon.blue 醫學系列圖中型
      img(src="img/gallery/illustration/limb/01-05.jpg")
      .ui.bottom.attached.label TwinFix Suture Anchor
    .picture.rounded.ui.image
      .ui.label.ribbon.blue 醫學系列圖中型
      img(src="img/gallery/illustration/limb/01-06.jpg")
      .ui.bottom.attached.label TwinFix Suture Anchor (Flap Tail Fixation)
    .picture.rounded.ui.image
      .ui.label.ribbon.blue 醫學系列圖中型
      img(src="img/gallery/illustration/limb/01-07.jpg")
      .ui.bottom.attached.label Post-Operation
  .column
    h1 股二頭肌外傷斷裂修復筋膜翻瓣手術術式說明
    p 使用場合：醫學論文插圖
    p 學術分類：骨科
    .ui.celled.list
      .item
        i.icon.checkmark.checked
        | tibia
      .item
        i.icon.checkmark.checked
        | femur
      .item
        i.icon.checkmark.checked
        | patella
      .item
        i.icon.checkmark.checked
        | joint capsule
      .item
        i.icon.checkmark.checked
        | fibula
      .item
        i.icon.checkmark.checked
        | fibular collateral
      .item
        i.icon.checkmark.checked
        | gastrocnemius lateral
      .item
        i.icon.checkmark.checked
        | plantaris
      .item
        i.icon.checkmark.checked
        | gastrocnemius medial
      .item
        i.icon.checkmark.checked
        | soleus
      .item
        i.icon.checkmark.checked
        | peroneus longus
      .item
        i.icon.checkmark.checked
        | tibialis ant.
      .item
        i.icon.checkmark.checked
        | semitendinosus
      .item
        i.icon.checkmark.checked
        | semimembranosus
      .item
        i.icon.checkmark.checked
        | biceps femoral
      .item
        i.icon.checkmark.checked
        | vastus lateralis
      .item
        i.icon.checkmark.checked
        | fascia flap and bed
      .item
        i.icon.checkmark.checked
        | iliotibial tract
      .item
        i.icon.checkmark.checked
        | TwinFix anchor
      .item
        i.icon.checkmark.checked
        | sutures


block microscript
  script.
    $(".thumbnail.menu #01").addClass("active");