extends _news

block subtitle
  | 工作室更名 - 2008年10月

block article
  p.timestamp 發佈時間：2008年10月
  h1 工作室更名
  h2 公告內容
  p 工作室的識別名稱，由「ETBlue 醫學內容工作室」更改為「Dr. Blue 醫學內容工作室」。
  h2 更名的原因
  p 改名稱的目的，是為了凸顯醫療專業背景，讓客戶跟我們洽談業務時，可以放心使用醫學專業詞彙溝通。
  p.sign Dr. Blue 醫學內容工作室

block subscript
  script.
    $(".vertical.menu #2008_1").addClass("active");