extends _news

block subtitle
  | 服務項目刪減 - 2007年03月

block article
  p.timestamp 發佈時間：2007年03月
  h1 服務項目刪減
  h2 公告內容
  p 本工作室不再提供「醫學影片剪輯」服務。
  h2 刪減服務項目的考量
  p 刪除這項服務的目的，是為了將事業主軸聚焦在「需要運用跨領域知識，進行整體規劃」的服務上。
  p 與無中生有的醫學繪圖不同，醫學影片的剪接，是拿現有的母片與素材來編輯，對於整合規劃的需求較低。因此，並不符合工作室的主軸。
  h2 配套措施：剪接軟體介紹
  p 市面上，有許多簡單好用、易於上手的剪接程式，更不乏優秀的免費軟體、自由軟體。熟悉電腦的醫療人員，可以自行剪接，或者，在看母片的同時，記下母片上的秒數，再請專業剪接人員代為操作。
  p 我們推薦您使用剪接軟體 Avidemux，它是自由軟體，免費，合法，跨平台。不管您的電腦是採用 Windows，Mac，或者 Linux 作業系統，都可以自由的使用 Avidemux。
  p Avidemux 官方網站：
    a(href='http://fixounet.free.fr/avidemux/', target='_blank') http://fixounet.free.fr/avidemux/
  p.sign Dr. Blue 醫學內容工作室

block subscript
  script.
    $(".vertical.menu #2007_1").addClass("active");