extends _news

block subtitle
  | 價格調漲、老客戶優惠 - 2009年9月

block article
  p.timestamp 發佈時間：2009年9月
  h1 價格調漲、老客戶優惠
  h2 價格調漲的方式
  p 小型圖片調漲為原本的1.7倍，
    br
    | 中型圖片調漲為原本的1.2倍，
    br
    | 大型圖片維持不變。
  h2 漲價的原因
  p 漲價的目的是讓價格反應實際上的製作成本。
  h2 配套措施：老客戶優惠
  p 2009年之前的老客戶，若繼續訂製作品，那麼，在西元2015年之前，老客戶們都以調漲前的價格收費。
  p 需要新版的價格表，請至
    a(href='price-medical_illustration-.htm') 索取價格表
    | 此頁寄信給我們。
  p.sign Dr. Blue 醫學內容工作室

block subscript
  script.
    $(".vertical.menu #2009_1").addClass("active");