extends _news

block subtitle
  | 價格調漲、價目表下載 - 2014年01月

block article
  p.timestamp 發佈時間：2014年01月
  h1 價格調漲、價目表下載
  h2 價格調漲的方式
  p 大型、中型、小型圖片皆調整為原本的 1.5 倍。
  h2 漲價的原因
  p 為了反應製作成本以及國際上的市場行情，分段逐漸調漲價格。
  h2 配套措施：老客戶優惠
  p 2013 年之前的老客戶，若繼續訂製作品，那麼，在 2014 年之前，老客戶們都以本次漲價前的價格收費。 
  h2 價目表下載
  p: a(href="https://www.dropbox.com/s/fwshs8ewpf3mt0n/Dr.Blue-Medical-Content-Studio-PriceList-illustration-animation-design-2014.pdf")
    i.icon.download.disk
    | 2014 年價目表
  p: a(href="https://www.dropbox.com/s/9w32frfbllmtnh2/Dr.Blue-Medical-Content-Studio-PriceList-illustration-animation-design-2013.pdf")
    i.icon.download.disk
    | 2013 年以前老客戶價目表
  h2 備註
  p 為了因應醫療器材廠商的特殊需求，除了醫學繪圖外新增了機械圖的品項，除了定價不同之外，機械圖屬於廠商客製圖片，無法重複利用，因此不提供學術授權的選項。在此一併公告。
  p.sign Dr. Blue 醫學內容工作室

block subscript
  script.
    $(".vertical.menu #2014_1").addClass("active");