extends _news

block subtitle
  | 牙醫學共享方案開始實施 - 2010年6月

block article
  p.timestamp 發佈時間：2010年6月
  h1 牙醫學共享方案開始實施
  h2 共享方案的內容
  p 牙醫學領域的作品，凡是繪圖元件可重複利用者，皆視為系列圖，以原圖的三分之一價格收費。
  p.ui.pointing.right.label.light 例如：upper molar buccal view 這類常見的繪圖元件，可以重複利用在 od、peri、endo、pros、ortho... 各科，因此，這個繪圖元件是可以重複利用的。同理，許多課本上常見的圖片，皆在此「繪圖元件可重複利用」的定義範圍內。
  p 相對的，這類作品皆不能指定圖片風格，或者客製繪圖元件。
  h2 共享方案制定的緣由
  p 實施這項方案的
    span.bold 主要目的
    | 是鼓勵大家重複運用我們現有的繪圖元件，節省製圖時間。
  p
    span.bold 次要目的
    | 則是以優惠的價格，吸引牙醫學專業人士，跟我們一起創造更多豐富的內容。
  p 牙醫學的圖片，構圖上，有高度的重複性，內容上，則是高度的多樣性。也就是說，往往是使用同樣的構圖，做出多種不同的變化。因此，這門學科的插圖，會使用大量重複的元件（如：同一顆牙齒的側剖面，可以用在許多不同的次專科、不同的療程中）。
  p 不同的客戶之間，共享這些重複的繪圖元件，不僅節省我們的時間，也節省客戶的花費。歡迎牙醫學專業人士加入共享繪圖元件的行列。
  p.sign Dr. Blue 醫學內容工作室

block subscript
  script.
    $(".vertical.menu #2010_1").addClass("active");