extends _news

block subtitle
  | 新增授權方案、老客戶優惠 - 2010年6月

block article
  p.timestamp 發佈時間：2010年6月
  h1 新增授權方案、老客戶優惠
  h2 授權方案的內容
  p 醫學繪圖與醫學動畫，授權方案由原本的一種，增加為三種，分別為：
  table.ui.table.segment
    tr
      th 授權方案
      th 專屬授權
      th 作品客製化
      th 作品使用權
      th 價格
    tr
      td 一般授權
      td.positive
        i.icon.checkmark
        | 五年
      td.positive
        i.icon.checkmark
        | 是
      td.positive
        i.icon.checkmark
        | 永久
      td 原始價格
    tr
      td 學術授權
      td 無
      td.positive
        i.icon.checkmark
        | 是
      td.positive
        i.icon.checkmark
        | 永久
      td 乘以2/3
    tr
      td 圖庫授權
      td 無
      td 否
      td.positive
        i.icon.checkmark
        | 永久
      td 乘以1/3
  p 同時，2010年之前的老客戶，原本擁有的專屬授權期限，從二年延長至永久。
  p 2009前老客戶，訂製新的作品時，若選擇學術授權方案，收費的方式，將是在「老客戶價格」與「學術授權價格」二者之間，選擇較優惠的方式收費。
  h2 授權方案的制定哲學
  p 
    span.bold 一般授權方案
    | 適合正在經營品牌的醫師或醫療院所。考量到商業競爭的狀況，將專屬授權的期限，由原本的二年延長為五年，目的是提供我們的客戶更多的競爭優勢。
  p 
    span.bold 學術授權方案
    | 適合教學醫院醫師、基礎或臨床研究人員、醫學院任教者。此方案雖沒有專屬授權，但享有價格優惠，目的是吸引醫學專業人士，和我們一起創造更多精采的內容。
  p 
    span.bold 圖庫授權方案
    | 適合需要推廣衛教的醫師或醫療院所。現有的作品一旦通過專屬期限，則轉換為圖庫，以便宜的價格授權，目的是要讓更多人能夠使用。
  p 圖庫授權除了在作品中打上您的浮水印之外，並不提供任何的客製服務。
  h2 配套措施一：老客戶優惠
  p 2010年之前的老客戶，作品的專屬授權年限為二年。因應新的授權方案，推出老客戶優惠，將專屬授權的年限，由二年延長至永久。
  p 意即，您訂製的作品不會收錄於圖庫，也不會授權予第三人使用。
  h2 配套措施二：圖庫作品標示
  p 可提供圖庫授權的作品，在作品展示頁面上，會加以標註。
  p.sign Dr. Blue 醫學內容工作室

block subscript
  script.
    $(".vertical.menu #2010_2").addClass("active");