extends _price-medical_animation

block minititle
  | 定價依據：動畫分鏡複雜度

block article
  h1 定價依據：動畫分鏡複雜度
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".vertical.menu #price").addClass("active");