extends _price-medical_graphic

block minititle
  | 印刷費依據：印刷公司報價

block article
  h1 印刷費依據：印刷公司報價
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".vertical.menu #print").addClass("active");