extends _price-medical_graphic

block minititle
  | 設計費依據：稿件細緻度

block article
  h1 設計費依據：稿件細緻度
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".vertical.menu #price").addClass("active");