extends _price-medical_animation

block minititle
  | 收費依據：圖片授權+動畫製作

block article
  h1 收費依據：圖片授權+動畫製作
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".vertical.menu #license").addClass("active");