extends _price-medical_graphic

block minititle
  | 如何估價與支付訂金

block article
  h1 如何估價與支付訂金
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".vertical.menu #payment").addClass("active");