extends _price-medical_animation

block minititle
  | 如何估價與付款

block article
  h1 如何估價與付款
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".vertical.menu #payment").addClass("active");