extends _process-medical_illustration

block minititle
  | 完稿

block article
  h1 完稿
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".step.menu #final").addClass("active");