extends _process-medical_animation

block minititle
  | 腳本

block article
  h1 腳本
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".step.menu #script").addClass("active");