extends _process-medical_graphic

block minititle
  | 定金

block article
  h1 定金
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".step.menu #deposit").addClass("active");