extends _process-medical_graphic

block minititle
  | 估價單

block article
  h1 估價單
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".step.menu #estimate").addClass("active");