extends _process-medical_illustration

block minititle
  | 草圖、估價單

block article
  h1 草圖、估價單
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".step.menu #estimate").addClass("active");