extends _process-medical_illustration

block minititle
  | 初稿

block article
  h1 初稿
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".step.menu #draft").addClass("active");