extends _process-medical_illustration

block minititle
  | 授權

block article
  h1 授權
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".step.menu #license").addClass("active");