extends _process-medical_graphic

block minititle
  | 付款

block article
  h1 付款
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".step.menu #pay").addClass("active");