extends _process-medical_animation

block minititle
  | 動畫完稿

block article
  h1 動畫完稿
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".step.menu #final").addClass("active");