extends _service-medical_animation

block minititle
  | 什麼是醫學動畫

block article
  p.subtitle 醫學繪圖加入動態效果
  h1 什麼是醫學動畫
  div
    img(src='img/services/medical_animation.png', width='600', height='120', alt='')
  h2 醫學繪圖的四度空間
  p 醫學動畫如上圖所示，就是將醫學插畫，加上動態效果。
  p 加入動態，就表示，在製作過程中，除了靜態手法之外，又多了一組動態的手法可以使用。也就是說，表達的手法變多、變複雜，於是，規劃作品的方式，也會有所不同。
  p 醫學動畫的長度，短的有幾秒鐘，長的有幾分鐘，通常，給病人或一般大眾看的動畫，長度較短，給專業人士看的動畫，則比較長。
  h2 醫學動畫應用在哪些地方
  p
    span.bold 醫學短動畫
    | 通常出現在衛教網頁，或者是醫療院所的電腦上，用來向病人解釋某個術式，或某項療程。
    //-span.subtitle
      a(href='http://www.etblue.idv.tw/gallery-head_neck-plastic_surgery_procedures.htm') 按這裡看短動畫範例
  p
    span.bold 醫學長動畫
    | 通常出現在課堂上，用來教授詳細的治療步驟、病理機轉，或者，出現在產品說明會上，用來解釋某個器材或某類藥物的作用機轉。
    //-span.subtitle
      a(href='http://www.etblue.idv.tw/gallery-other-ws_far_infrared_animation.htm') 按這裡看長動畫範例
  h2 總結：醫學動畫服務
  p 本工作室的醫學動畫服務項目，就是根據用途，規劃整支動畫的腳本，然後繪製靜畫、加上動態效果、最後輸出成 swf 或 flv（放在網站上）或者是 wmv（用在本機電腦上）等格式的影片檔案。
  p.ui.pointing.right.label.gray 醫學動畫的製作，是先靜態、再動態，所以，通常會跟靜態的醫學插畫，一起訂製。

block miniscript
  script.
    $(".vertical.menu #whatis").addClass("active");