extends _service-medical_graphic

block minititle
  | 如何訂製醫學平面設計作品

block article
  h1 如何訂製醫學平面設計作品
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".vertical.menu #order").addClass("active");