extends _service-medical_graphic

block minititle
  | 設計品的後續維護

block article
  h1 設計品的後續維護
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".vertical.menu #mainten").addClass("active");