extends _service-medical_animation

block minititle
  | 如何訂製或購買醫學動畫

block article
  h1 如何訂製或購買醫學動畫
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".vertical.menu #order").addClass("active");