extends _service-medical_illustration

block minititle
  | 醫學繪圖如何製作

block article
  p.subtitle 先醫學，後製圖
  h1 醫學繪圖如何製作
  h2 先動腦、再動手
  p 醫學繪圖的製作，有兩個階段，第一階段是動腦構圖，第二階段是動手製圖。
  p
    span.bold 動腦階段
    | 做資料分析。比方說，畫外科手術，要先翻圖譜看 anatomy，然後找手術的 indication 和 procedures。這些資料綜合判斷，決定怎樣構圖最適合、什麼角度、秀出哪些構造、加入哪些器械等等。
  p
    span.bold 動手階段
    | 實際繪製圖稿。過程中，根據主題，調整配色、粗細、濃淡、材質，讓重要的突顯，陪襯的淡化。效果不夠明顯的，再加上箭頭或文字標示，然後反覆檢查，直到表達的夠清楚為止。
  h2 醫學繪圖的工具
  p
    span.bold 資料分析
    | 時，主要用到 Netters 解剖圖譜和 Google 搜尋引擎。
  p
    | 這個階段，很需要您提供課本內容，或者照片影片。醫學插畫家雖懂醫學，但只是基本的，對於各專科並沒辦法一一熟悉。所以，接到案子的第一時間，就是努力唸書，把要畫的主題學起來。這時候，您的教學會非常有幫助。
  p
    span.bold 製圖
    | 時，主要用向量繪圖軟體 Adobe Illustrator 和 Wacom 數位板。
  p 製圖過程中，需要您反覆的校稿。插畫家本身比較熟悉的科別，校稿過程會比較快，大概要校稿兩三次。比較不熟悉的科別，則比較慢，大概要校稿四五次，才能讓雙方都覺得滿意。
  h2 總結：紫領任務
  p 就像外科醫師，開刀的時候，除了手上功夫之外，還要一邊不斷的思考；醫學插畫家工作時，也需要同時動腦與動手。所以，需要繪圖技巧與醫學知識，兩種能力同時兼具。
  p 我們的插畫家，不是一般美術人員，而是由醫學專業背景出身，熟悉臨床之後，再經過跨領域的訓練而來。因此，能夠做整合規劃，給予您專業的意見。

block miniscript
  script.
    $(".vertical.menu #produce").addClass("active");