extends _service-medical_illustration

block minititle
  | 什麼是醫學繪圖

block article
  p.subtitle 把抽象的知識視覺化
  h1 什麼是醫學繪圖
  div
    img(src='img/services/medical_illustration.png', width='600', height='120', alt='')
  h2 科學繪圖的一環
  p 插畫，根據作品的性質，可以分類為創意插畫和科學插畫兩種。
  p
    | 繪畫技巧，加上天馬行空的創意，就形成了創意插畫。
    br
    | 繪畫技巧，加上正確的科學知識，則是科學插畫。
  p 創意插畫帶來豐富的感受，科學插畫則傳遞複雜的知識。
  p 天文、地理、生態、機械... 等領域，都是科學插畫應用的範圍。其中，醫學類的插畫，也是科學插畫的一環。
  h2 醫學插畫應用在哪些地方
  p 醫學插畫出現在：醫學生的課本教科書、解剖圖譜，研究人員撰寫的期刊論文，臨床醫護人員所使用的衛教文宣，以及醫療器材製造商所提供的產品說明書等處。
  p
    | 醫療產業的各個環節，都與醫學緊密結合。因此，不論是學術圈，臨床領域，或者研發製造，都需要傳遞大量的醫學知識，而這些需要傳遞醫學知識的場合，即是醫學繪圖應用的地方。
  h2 總結：醫學繪圖服務
  p 如頁首插圖所示，醫學繪圖，就是把像雲朵般抽象飄渺的醫學知識，利用插畫的技巧，加以呈現並且包裝起來，變成一個看的到、摸的著、讓人能夠輕鬆傳遞的、具體的作品。
  p 本工作室的醫學繪圖服務項目，就是製作出醫學插畫，確保它們正確、美觀、發揮應有的功能。
  p.ui.pointing.right.label.gray 精確的說，醫學繪圖（medical illustration）一詞，包括了靜態的插畫，以及動態的動畫。為了區分兩種不同類型的服務項目，在這個網站中，我們將製作靜態作品的服務，稱做「醫學繪圖」，製作動態作品的服務，則稱作「醫學動畫」。

block miniscript
  script.
    $(".vertical.menu #whatis").addClass("active");