extends _service-medical_illustration

block minititle
  | 如何訂製或購買醫學繪圖

block article
  p.subtitle 線上洽談
  h1 如何訂製或購買醫學繪圖
  h2 網路接洽
  p 大部分的溝通聯繫，都在網路上完成，案件規模較大，或者內容較複雜時，會在資料分析的階段，約時間見面討論。
  p 訂製醫學繪圖，請到本網站的
    a(href='about-contact.htm') 線上寄信
    | 頁面，與我們聯絡，信件中，請附上主題的英文學名，以便查資料。
  h2 分享大量的資料
  p 我們需要您提供許多資料，關於繪圖主題的文章、照片、影片等。如果檔案較大，您可以先到
    a(href='http://www.dropbox.com/referrals/NTg5MjgxMDI5', target='_blank') 這個 Dropbox 網站的註冊頁面
    | 申請一個免費帳號，申請成功後，再開一個資料夾，設定成和我們的帳號分享即可。
  p.ui.pointing.right.label.gray Dropbox 的申請方式，請參考這篇
    a(href='http://briian.com/?p=7118', target='_blank') 知名部落格的教學文章
    | 。

block miniscript
  script.
    $(".vertical.menu #order").addClass("active");