extends _service-medical_content_lab

block minititle
  | 為何要進行實驗計劃

block article
  p.subtitle 解開有趣的謎團
  h1 為何要進行實驗計劃
  div
    img(src='img/services/medical_content_lab.png', width='600', height='120', alt='')
  h2 扮演創新者的角色
  p 由於醫學內容，是一個較新的領域（在某些定義中，還稱不上產業呢），因此，有許多尚未釐清的事情存在。
  p 舉個例子，台灣的醫療服務業，從醫學院到醫院，有一個穩定上軌道的制度，包括醫學教育、臨床服務的運作、收費行情等等。對於一個醫療院所來說，能提供什麼服務、收多少錢、怎麼管理，多數的狀況下，是有前例可參考的。
  p 相較之下，一個醫學內容工作室，要如何經營，多數的狀況必須自己尋找解答，或創造新的解答。為了扮演稱職的創新者，我們必須不斷做實驗，嘗試新東西。
  h2 實驗主題：誰能來幫忙？
  p 所有實驗計劃，圍繞著同一主題，那就是：「其他領域的知識技術，哪些能幫忙醫療界，解決現有的問題？」
  p 眾所周知的，國內的醫療服務業，存在許多令人頭疼的狀況。事實上，也是因為這些原因，促使筆者離開醫院，轉而投入醫學內容的工作。
  p 醫療服務業有些獨特之處，造就了它的問題。先是技術複雜，很難透明化，形成高度的資訊不對等，使得自由市場的機制，很難在這裡發揮良性作用。再者是，醫療服務的成本原本就偏高，但偏偏事關人命，肩負社會福利的任務，因此往往無法按照成本收費，虧損的部份多少轉嫁到醫療從業人員身上。另外則是，在整個醫療服務業的管理上，世界各國似乎都還沒發展出一套完美的政策與制度。最後，日新月異的技術，也替這個產業帶來更多不確定性。
  p 在產業旅遊的過程中，筆者發現，許多問題不只醫療界獨有，在別的領域也會發生，也已經有人找到不錯的解方。看到許多精采的創新案例，不由得相信，醫療界問題雖龐雜，但也一定可以找到一些好答案。
  h2 總結：尋找問題，尋找解方
  p 大致上，醫療服務業的問題，可以從三個方向著手：一是法規面，包括政策制定與制度規劃；二是經營面，包括醫療管理與臨床執行；三是技術面，包括人員訓練與技術創新。我們的實驗計劃，則是圍繞在技術創新，並且專注於跨領域的技術創新。
  p 計劃取材的方式，很簡單，就是從各位老師同學學長姐學弟妹們身上，收集問題。由於醫療人員是非常重要的醫療資源，所以，只要是醫療人員遇到的問題，不論大小，都非常值得我們研究。
  p 實驗進行的期間，從數月到數年都有可能。由於是利用閒暇時間進行，通常沒有預定時間表。實驗完成後，若有營利的可能性，就會加入工作室的服務項目中，若沒營利價值，則單純的寫成實驗報告，放在網站上，供後人參考。
  h2 網站更新備註
    span.subtitle 2010/08
  p 本網站的許多內容，包括各項實驗計劃的頁面，仍在撰寫中，內容很多，預計會花上很長的時間才能完成。若對這些實驗感興趣，建議您隔幾個月回來造訪本站，或者直接寄信來跟我們討論這些計畫。

block miniscript
  script.
    $(".vertical.menu #why").addClass("active");