extends _service-medical_content_lab

block minititle
  | 自由軟體OpenOffice教學

block article
  h1 自由軟體OpenOffice教學
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".vertical.menu #openoffice").addClass("active");