extends _service-medical_content_lab

block minititle
  | 已完成的實驗

block article
  h1 已完成的實驗
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".vertical.menu #archive").addClass("active");