extends _service-medical_content_lab

block minititle
  | 臨床作業流程與表單SOP

block article
  h1 臨床作業流程與表單SOP
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".vertical.menu #sop").addClass("active");