extends _service-medical_animation

block minititle
  | 哪些人需要我們的服務

block article
  h1 哪些人需要我們的服務
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".vertical.menu #indication").addClass("active");