extends _service-medical_content_lab

block minititle
  | 產業旅遊行程：軟體業

block article
  h1 產業旅遊行程：軟體業
  img(src='img/under-construction.png', width='600', height='180', alt='')

block miniscript
  script.
    $(".vertical.menu #programming").addClass("active");